*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 50px;
}
input{
    width: 17vh;
    height: 10vh;
}
.color-picker{
   display: flex;
   justify-content: center;
   margin-top: 100px;
}
#color-output{
margin-top: 90px;
position: absolute;
left: 45%;
font-size: 30px;
font-weight: bold;
}
 @media(max-width:425px){
    #color-output{
        left: 36%;
    }
 }